@name Decent
@inputs 
@outputs 
@persist Speed Length Sin Cos E:entity Ply:entity
@trigger 

#+------------------------------+
#|                              |
#|  Made By 145 East Bindleton  |
#|                              |
#+------------------------------+

if(first()){
    hint("Please don't give this out to anyone.",4)
    hint("Made by 145 East Bindleton",5)
}

interval(100)
runOnChat(1)

if(first()){
    
    Speed=150
    Length=50
    E=entity()
    E:propNotSolid(1)
    E:setColor(0,0,0,0)
    
    holoCreate(1)
    holoMaterial(1,"models/debug/debugwhite")
    holoPos(1,entity():pos())
    holoScale(1,vec(1,1,1))
    holoColor(1,vec(255,220,0))
    holoAng(1,ang(0,0,0))
    holoEntity(1):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(2) 
    holoMaterial(2,"models/debug/debugwhite")
    holoColor(2,vec(200,200,200))
    holoPos(2,entity():pos())
    holoScale(2,vec(1,1,1))
    holoColor(2,vec(255,220,0))
    holoAng(2,ang(0,0,0))
    holoEntity(2):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(3) 
    holoMaterial(3,"models/debug/debugwhite")
    holoColor(3,vec(200,200,200))
    holoPos(3,entity():pos())
    holoScale(3,vec(1,1,1))
    holoColor(3,vec(255,220,0))
    holoAng(3,ang(0,0,0))
    holoEntity(3):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(4) 
    holoMaterial(4,"models/debug/debugwhite")
    holoColor(4,vec(200,200,200))
    holoPos(4,entity():pos())
    holoScale(4,vec(1,1,1))
    holoColor(4,vec(255,220,0))
    holoAng(4,ang(0,0,0))
    holoEntity(4):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(5) 
    holoMaterial(5,"models/debug/debugwhite")
    holoColor(5,vec(200,200,200))
    holoPos(5,entity():pos())
    holoScale(5,vec(1,1,1))
    holoColor(5,vec(255,220,0))
    holoAng(5,ang(0,0,0))
    holoEntity(5):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(6) 
    holoMaterial(6,"models/debug/debugwhite")
    holoColor(6,vec(200,200,200))
    holoPos(6,entity():pos())
    holoScale(6,vec(1,1,1))
    holoColor(6,vec(255,220,0))
    holoAng(6,ang(0,0,0))
    holoEntity(6):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(7) 
    holoMaterial(7,"models/debug/debugwhite")
    holoColor(7,vec(200,200,200))
    holoPos(7,entity():pos())
    holoScale(7,vec(1,1,1))
    holoColor(7,vec(255,220,0))
    holoAng(7,ang(0,0,0))
    holoEntity(7):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(8) 
    holoMaterial(8,"models/debug/debugwhite")
    holoColor(8,vec(200,200,200))
    holoPos(8,entity():pos())
    holoScale(8,vec(1,1,1))
    holoColor(8,vec(255,220,0))
    holoAng(8,ang(0,0,0))
    holoEntity(8):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(11) 
    holoMaterial(11,"models/debug/debugwhite")
    holoColor(11,vec(200,200,200))
    holoPos(11,entity():pos())
    holoScale(11,vec(1,1,1))
    holoColor(11,vec(255,220,0))
    holoAng(11,ang(0,0,0))
    holoEntity(11):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(12) 
    holoMaterial(12,"models/debug/debugwhite")
    holoColor(12,vec(200,200,200))
    holoPos(12,entity():pos())
    holoScale(12,vec(1,1,1))
    holoColor(12,vec(255,220,0))
    holoAng(12,ang(0,0,0))
    holoEntity(12):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(13) 
    holoMaterial(13,"models/debug/debugwhite")
    holoColor(13,vec(200,200,200))
    holoPos(13,entity():pos())
    holoScale(13,vec(1,1,1))
    holoColor(13,vec(255,220,0))
    holoAng(13,ang(0,0,0))
    holoEntity(13):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(14) 
    holoMaterial(14,"models/debug/debugwhite")
    holoColor(14,vec(200,200,200))
    holoPos(14,entity():pos())
    holoScale(14,vec(1,1,1))
    holoColor(14,vec(255,220,0))
    holoAng(14,ang(0,0,0))
    holoEntity(14):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(15) 
    holoMaterial(15,"models/debug/debugwhite")
    holoColor(15,vec(200,200,200))
    holoPos(15,entity():pos())
    holoScale(15,vec(1,1,1))
    holoColor(15,vec(255,220,0))
    holoAng(15,ang(0,0,0))
    holoEntity(15):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(16) 
    holoMaterial(16,"models/debug/debugwhite")
    holoColor(16,vec(200,200,200))
    holoPos(16,entity():pos())
    holoScale(16,vec(1,1,1))
    holoColor(16,vec(255,220,0))
    holoAng(16,ang(0,0,0))
    holoEntity(16):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(17) 
    holoMaterial(17,"models/debug/debugwhite")
    holoColor(17,vec(200,200,200))
    holoPos(17,entity():pos())
    holoScale(17,vec(1,1,1))
    holoColor(17,vec(255,220,0))
    holoAng(17,ang(0,0,0))
    holoEntity(17):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(18) 
    holoMaterial(18,"models/debug/debugwhite")
    holoColor(18,vec(200,200,200))
    holoPos(18,entity():pos())
    holoScale(18,vec(1,1,1))
    holoColor(18,vec(255,220,0))
    holoAng(18,ang(0,0,0))
    holoEntity(18):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(19)
    holoMaterial(19,"models/debug/debugwhite")
    holoColor(19,vec(200,200,200))
    holoPos(19,entity():pos())
    holoScale(19,vec(1,1,1))
    holoColor(19,vec(255,220,0))
    holoAng(19,ang(0,0,0))
    holoEntity(19):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(20) 
    holoMaterial(20,"models/debug/debugwhite")
    holoColor(20,vec(200,200,200))
    holoPos(20,entity():pos())
    holoScale(20,vec(1,1,1))
    holoColor(20,vec(255,220,0))
    holoAng(20,ang(0,0,0))
    holoEntity(20):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(21) 
    holoMaterial(21,"models/debug/debugwhite")
    holoColor(21,vec(200,200,200))
    holoPos(21,entity():pos())
    holoScale(21,vec(1,1,1))
    holoColor(21,vec(255,220,0))
    holoAng(21,ang(0,0,0))
    holoEntity(21):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(22) 
    holoMaterial(22,"models/debug/debugwhite")
    holoColor(22,vec(200,200,200))
    holoPos(22,entity():pos())
    holoScale(22,vec(1,1,1))
    holoColor(22,vec(255,220,0))
    holoAng(22,ang(0,0,0))
    holoEntity(22):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    
    holoCreate(111)
    holoMaterial(111,"models/debug/debugwhite")
    holoPos(111,entity():pos())
    holoScale(111,vec(1,1,1))
    holoColor(111,vec(255,220,0))
    holoAng(111,ang(0,0,0))
    holoEntity(111):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(211) 
    holoMaterial(211,"models/debug/debugwhite")
    holoColor(211,vec(200,200,200))
    holoPos(211,entity():pos())
    holoScale(211,vec(1,1,1))
    holoColor(211,vec(255,220,0))
    holoAng(211,ang(0,0,0))
    holoEntity(211):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(311) 
    holoMaterial(311,"models/debug/debugwhite")
    holoColor(311,vec(200,200,200))
    holoPos(311,entity():pos())
    holoScale(311,vec(1,1,1))
    holoColor(311,vec(255,220,0))
    holoAng(311,ang(0,0,0))
    holoEntity(311):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(411) 
    holoMaterial(411,"models/debug/debugwhite")
    holoColor(411,vec(200,200,200))
    holoPos(411,entity():pos())
    holoScale(411,vec(1,1,1))
    holoColor(411,vec(255,220,0))
    holoAng(411,ang(0,0,0))
    holoEntity(411):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(511) 
    holoMaterial(511,"models/debug/debugwhite")
    holoColor(511,vec(200,200,200))
    holoPos(511,entity():pos())
    holoScale(511,vec(1,1,1))
    holoColor(511,vec(255,220,0))
    holoAng(511,ang(0,0,0))
    holoEntity(511):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(611) 
    holoMaterial(611,"models/debug/debugwhite")
    holoColor(611,vec(200,200,200))
    holoPos(611,entity():pos())
    holoScale(611,vec(1,1,1))
    holoColor(611,vec(255,220,0))
    holoAng(611,ang(0,0,0))
    holoEntity(611):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(711) 
    holoMaterial(711,"models/debug/debugwhite")
    holoColor(711,vec(200,200,200))
    holoPos(711,entity():pos())
    holoScale(711,vec(1,1,1))
    holoColor(711,vec(255,220,0))
    holoAng(711,ang(0,0,0))
    holoEntity(711):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(811) 
    holoMaterial(811,"models/debug/debugwhite")
    holoColor(811,vec(200,200,200))
    holoPos(811,entity():pos())
    holoScale(811,vec(1,1,1))
    holoColor(811,vec(255,220,0))
    holoAng(811,ang(0,0,0))
    holoEntity(811):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1111) 
    holoMaterial(1111,"models/debug/debugwhite")
    holoColor(1111,vec(200,200,200))
    holoPos(1111,entity():pos())
    holoScale(1111,vec(1,1,1))
    holoColor(1111,vec(255,220,0))
    holoAng(1111,ang(0,0,0))
    holoEntity(1111):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1211) 
    holoMaterial(1211,"models/debug/debugwhite")
    holoColor(1211,vec(200,200,200))
    holoPos(1211,entity():pos())
    holoScale(1211,vec(1,1,1))
    holoColor(1211,vec(255,220,0))
    holoAng(1211,ang(0,0,0))
    holoEntity(1211):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1311) 
    holoMaterial(1311,"models/debug/debugwhite")
    holoColor(1311,vec(200,200,200))
    holoPos(1311,entity():pos())
    holoScale(1311,vec(1,1,1))
    holoColor(1311,vec(255,220,0))
    holoAng(1311,ang(0,0,0))
    holoEntity(1311):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1411) 
    holoMaterial(1411,"models/debug/debugwhite")
    holoColor(1411,vec(200,200,200))
    holoPos(1411,entity():pos())
    holoScale(1411,vec(1,1,1))
    holoColor(1411,vec(255,220,0))
    holoAng(1411,ang(0,0,0))
    holoEntity(1411):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1511) 
    holoMaterial(1511,"models/debug/debugwhite")
    holoColor(1511,vec(200,200,200))
    holoPos(1511,entity():pos())
    holoScale(1511,vec(1,1,1))
    holoColor(1511,vec(255,220,0))
    holoAng(1511,ang(0,0,0))
    holoEntity(1511):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1611) 
    holoMaterial(1611,"models/debug/debugwhite")
    holoColor(1611,vec(200,200,200))
    holoPos(1611,entity():pos())
    holoScale(1611,vec(1,1,1))
    holoColor(1611,vec(255,220,0))
    holoAng(1611,ang(0,0,0))
    holoEntity(1611):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1711) 
    holoMaterial(1711,"models/debug/debugwhite")
    holoColor(1711,vec(200,200,200))
    holoPos(1711,entity():pos())
    holoScale(1711,vec(1,1,1))
    holoColor(1711,vec(255,220,0))
    holoAng(1711,ang(0,0,0))
    holoEntity(1711):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1811) 
    holoMaterial(1811,"models/debug/debugwhite")
    holoColor(1811,vec(200,200,200))
    holoPos(1811,entity():pos())
    holoScale(1811,vec(1,1,1))
    holoColor(1811,vec(255,220,0))
    holoAng(1811,ang(0,0,0))
    holoEntity(1811):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1911)
    holoMaterial(1911,"models/debug/debugwhite")
    holoColor(1911,vec(200,200,200))
    holoPos(1911,entity():pos())
    holoScale(1911,vec(1,1,1))
    holoColor(1911,vec(255,220,0))
    holoAng(1911,ang(0,0,0))
    holoEntity(1911):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(2011) 
    holoMaterial(2011,"models/debug/debugwhite")
    holoColor(2011,vec(200,200,200))
    holoPos(2011,entity():pos())
    holoScale(2011,vec(1,1,1))
    holoColor(2011,vec(255,220,0))
    holoAng(2011,ang(0,0,0))
    holoEntity(2011):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(2111) 
    holoMaterial(2111,"models/debug/debugwhite")
    holoColor(2111,vec(200,200,200))
    holoPos(2111,entity():pos())
    holoScale(2111,vec(1,1,1))
    holoColor(2111,vec(255,220,0))
    holoAng(2111,ang(0,0,0))
    holoEntity(2111):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(2211) 
    holoMaterial(2211,"models/debug/debugwhite")
    holoColor(2211,vec(200,200,200))
    holoPos(2211,entity():pos())
    holoScale(2211,vec(1,1,1))
    holoColor(2211,vec(255,220,0))
    holoAng(2211,ang(0,0,0))
    holoEntity(2211):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(1112)
    holoMaterial(1112,"models/debug/debugwhite")
    holoPos(1112,entity():pos())
    holoScale(1112,vec(1,1,1))
    holoColor(1112,vec(255,220,0))
    holoAng(1112,ang(0,0,0))
    holoEntity(1112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(2112) 
    holoMaterial(2112,"models/debug/debugwhite")
    holoColor(2112,vec(200,200,200))
    holoPos(2112,entity():pos())
    holoScale(2112,vec(1,1,1))
    holoColor(2112,vec(255,220,0))
    holoAng(2112,ang(0,0,0))
    holoEntity(2112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(3112) 
    holoMaterial(3112,"models/debug/debugwhite")
    holoColor(3112,vec(200,200,200))
    holoPos(3112,entity():pos())
    holoScale(3112,vec(1,1,1))
    holoColor(3112,vec(255,220,0))
    holoAng(3112,ang(0,0,0))
    holoEntity(3112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(4112) 
    holoMaterial(4112,"models/debug/debugwhite")
    holoColor(4112,vec(200,200,200))
    holoPos(4112,entity():pos())
    holoScale(4112,vec(1,1,1))
    holoColor(4112,vec(255,220,0))
    holoAng(4112,ang(0,0,0))
    holoEntity(4112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(5112) 
    holoMaterial(5112,"models/debug/debugwhite")
    holoColor(5112,vec(200,200,200))
    holoPos(5112,entity():pos())
    holoScale(5112,vec(1,1,1))
    holoColor(5112,vec(255,220,0))
    holoAng(5112,ang(0,0,0))
    holoEntity(5112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(6112) 
    holoMaterial(6112,"models/debug/debugwhite")
    holoColor(6112,vec(200,200,200))
    holoPos(6112,entity():pos())
    holoScale(6112,vec(1,1,1))
    holoColor(6112,vec(255,220,0))
    holoAng(6112,ang(0,0,0))
    holoEntity(6112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(7112) 
    holoMaterial(7112,"models/debug/debugwhite")
    holoColor(7112,vec(200,200,200))
    holoPos(7112,entity():pos())
    holoScale(7112,vec(1,1,1))
    holoColor(7112,vec(255,220,0))
    holoAng(7112,ang(0,0,0))
    holoEntity(7112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(8112) 
    holoMaterial(8112,"models/debug/debugwhite")
    holoColor(8112,vec(200,200,200))
    holoPos(8112,entity():pos())
    holoScale(8112,vec(1,1,1))
    holoColor(8112,vec(255,220,0))
    holoAng(8112,ang(0,0,0))
    holoEntity(8112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(11112)
    holoMaterial(11112,"models/debug/debugwhite")
    holoColor(11112,vec(200,200,200))
    holoPos(11112,entity():pos())
    holoScale(11112,vec(1,1,1))
    holoColor(11112,vec(255,220,0))
    holoAng(11112,ang(0,0,0))
    holoEntity(11112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(12112) 
    holoMaterial(12112,"models/debug/debugwhite")
    holoColor(12112,vec(200,200,200))
    holoPos(12112,entity():pos())
    holoScale(12112,vec(1,1,1))
    holoColor(12112,vec(255,220,0))
    holoAng(12112,ang(0,0,0))
    holoEntity(12112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(13112) 
    holoMaterial(13112,"models/debug/debugwhite")
    holoColor(13112,vec(200,200,200))
    holoPos(13112,entity():pos())
    holoScale(13112,vec(1,1,1))
    holoColor(13112,vec(255,220,0))
    holoAng(13112,ang(0,0,0))
    holoEntity(13112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(14112) 
    holoMaterial(14112,"models/debug/debugwhite")
    holoColor(14112,vec(200,200,200))
    holoPos(14112,entity():pos())
    holoScale(14112,vec(1,1,1))
    holoColor(14112,vec(255,220,0))
    holoAng(14112,ang(0,0,0))
    holoEntity(14112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(15112) 
    holoMaterial(15112,"models/debug/debugwhite")
    holoColor(15112,vec(200,200,200))
    holoPos(15112,entity():pos())
    holoScale(15112,vec(1,1,1))
    holoColor(15112,vec(255,220,0))
    holoAng(15112,ang(0,0,0))
    holoEntity(15112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(16112) 
    holoMaterial(16112,"models/debug/debugwhite")
    holoColor(16112,vec(200,200,200))
    holoPos(16112,entity():pos())
    holoScale(16112,vec(1,1,1))
    holoColor(16112,vec(255,220,0))
    holoAng(16112,ang(0,0,0))
    holoEntity(16112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(17112) 
    holoMaterial(17112,"models/debug/debugwhite")
    holoColor(17112,vec(200,200,200))
    holoPos(17112,entity():pos())
    holoScale(17112,vec(1,1,1))
    holoColor(17112,vec(255,220,0))
    holoAng(17112,ang(0,0,0))
    holoEntity(17112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(18112) 
    holoMaterial(18112,"models/debug/debugwhite")
    holoColor(18112,vec(200,200,200))
    holoPos(18112,entity():pos())
    holoScale(18112,vec(1,1,1))
    holoColor(18112,vec(255,220,0))
    holoAng(18112,ang(0,0,0))
    holoEntity(18112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(19112)
    holoMaterial(19112,"models/debug/debugwhite")
    holoColor(19112,vec(200,200,200))
    holoPos(19112,entity():pos())
    holoScale(19112,vec(1,1,1))
    holoColor(19112,vec(255,220,0))
    holoAng(19112,ang(0,0,0))
    holoEntity(19112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(20112) 
    holoMaterial(20112,"models/debug/debugwhite")
    holoColor(20112,vec(200,200,200))
    holoPos(20112,entity():pos())
    holoScale(20112,vec(1,1,1))
    holoColor(20112,vec(255,220,0))
    holoAng(20112,ang(0,0,0))
    holoEntity(20112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(21112) 
    holoMaterial(21112,"models/debug/debugwhite")
    holoColor(21112,vec(200,200,200))
    holoPos(21112,entity():pos())
    holoScale(21112,vec(1,1,1))
    holoColor(21112,vec(255,220,0))
    holoAng(21112,ang(0,0,0))
    holoEntity(21112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(22112) 
    holoMaterial(22112,"models/debug/debugwhite")
    holoColor(22112,vec(200,200,200))
    holoPos(22112,entity():pos())
    holoScale(22112,vec(1,1,1))
    holoColor(22112,vec(255,220,0))
    holoAng(22112,ang(0,0,0))
    holoEntity(22112):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(23) 
    holoMaterial(23,"models/debug/debugwhite")
    holoColor(23,vec(200,200,200))
    holoPos(23,entity():pos())
    holoScale(23,vec(1,1,1))
    holoColor(23,vec(255,220,0))
    holoAng(23,ang(0,0,0))
    holoEntity(23):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(24) 
    holoMaterial(24,"models/debug/debugwhite")
    holoColor(24,vec(200,200,200))
    holoPos(24,entity():pos())
    holoScale(24,vec(1,1,1))
    holoColor(24,vec(255,220,0))
    holoAng(24,ang(0,0,0))
    holoEntity(24):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(25) 
    holoMaterial(25,"models/debug/debugwhite")
    holoColor(25,vec(200,200,200))
    holoPos(25,entity():pos())
    holoScale(25,vec(1,1,1))
    holoColor(25,vec(255,220,0))
    holoAng(25,ang(0,0,0))
    holoEntity(25):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(26) 
    holoMaterial(26,"models/debug/debugwhite")
    holoColor(26,vec(200,200,200))
    holoPos(26,entity():pos())
    holoScale(26,vec(1,1,1))
    holoColor(26,vec(255,220,0))
    holoAng(26,ang(0,0,0))
    holoEntity(26):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(27) 
    holoMaterial(27,"models/debug/debugwhite")
    holoColor(27,vec(200,200,200))
    holoPos(27,entity():pos())
    holoScale(27,vec(1,1,1))
    holoColor(27,vec(255,220,0))
    holoAng(27,ang(0,0,0))
    holoEntity(27):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(28) 
    holoMaterial(28,"models/debug/debugwhite")
    holoColor(28,vec(200,200,200))
    holoPos(28,entity():pos())
    holoScale(28,vec(1,1,1))
    holoColor(28,vec(255,220,0))
    holoAng(28,ang(0,0,0))
    holoEntity(28):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(29) 
    holoMaterial(29,"models/debug/debugwhite")
    holoColor(29,vec(200,200,200))
    holoPos(29,entity():pos())
    holoScale(29,vec(1,1,1))
    holoColor(29,vec(255,220,0))
    holoAng(29,ang(0,0,0))
    holoEntity(29):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(30) 
    holoMaterial(30,"models/debug/debugwhite")
    holoColor(30,vec(200,200,200))
    holoPos(30,entity():pos())
    holoScale(30,vec(1,1,1))
    holoColor(30,vec(255,220,0))
    holoAng(30,ang(0,0,0))
    holoEntity(30):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(31) 
    holoMaterial(31,"models/debug/debugwhite")
    holoColor(31,vec(200,200,200))
    holoPos(31,entity():pos())
    holoScale(31,vec(1,1,1))
    holoColor(31,vec(255,220,0))
    holoAng(31,ang(0,0,0))
    holoEntity(31):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(32) 
    holoMaterial(32,"models/debug/debugwhite")
    holoColor(32,vec(200,200,200))
    holoPos(32,entity():pos())
    holoScale(32,vec(1,1,1))
    holoColor(32,vec(255,220,0))
    holoAng(32,ang(0,0,0))
    holoEntity(32):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    holoCreate(33) 
    holoMaterial(33,"models/debug/debugwhite")
    holoColor(33,vec(200,200,200))
    holoPos(33,entity():pos())
    holoScale(33,vec(1,1,1))
    holoColor(33,vec(255,220,0))
    holoAng(33,ang(0,0,0))
    holoEntity(33):setTrails(5,5,8,"trails/physbeam",(vec(255,0,0)),255)
    
    entity():setPos(E:toWorld(vec(0,0,60)))
}

Sin=sin(curtime()*Speed)*Length
Cos=cos(curtime()*Speed)*Length

holoPos(1,E:toWorld(vec(-Sin,Cos,-Sin)))
holoPos(2,E:toWorld(vec(Sin,Cos,Sin)))
holoPos(3,E:toWorld(vec(Sin,-Cos,-Sin)))
holoPos(4,E:toWorld(vec(Sin,Cos,-Sin)))
holoPos(5,E:toWorld(vec(-Sin,-Cos,-Sin)))
holoPos(6,E:toWorld(vec(Sin,-Cos,Sin)))
holoPos(7,E:toWorld(vec(-Sin,-Cos,Sin)))
holoPos(8,E:toWorld(vec(-Sin,Cos,Sin)))
holoPos(13,E:toWorld(vec(0,Cos,Sin)))
holoPos(14,E:toWorld(vec(0,Cos,-Sin)))
holoPos(15,E:toWorld(vec(0,-Cos,-Sin)))
holoPos(16,E:toWorld(vec(0,-Cos,Sin)))
holoPos(11,E:toWorld(vec(Sin,Cos,0)))
holoPos(12,E:toWorld(vec(-Sin,Cos,0)))
holoPos(17,E:toWorld(vec(-Sin,-Cos,0)))
holoPos(18,E:toWorld(vec(Sin,-Cos,0)))
holoPos(17,E:toWorld(vec(-Sin,-Cos,0)))
holoPos(18,E:toWorld(vec(Sin,-Cos,0)))
holoPos(19,E:toWorld(vec(-Sin,0,-Cos)))
holoPos(20,E:toWorld(vec(Sin,0,Cos)))
holoPos(21,E:toWorld(vec(Sin,0,-Cos)))
holoPos(22,E:toWorld(vec(-Sin,0,Cos)))

holoPos(111,E:toWorld(vec(-Sin,Cos,-Cos)))
holoPos(211,E:toWorld(vec(Sin,Cos,Cos)))
holoPos(311,E:toWorld(vec(Sin,-Cos,-Cos)))
holoPos(411,E:toWorld(vec(Sin,Cos,-Cos)))
holoPos(511,E:toWorld(vec(-Sin,-Cos,-Cos)))
holoPos(611,E:toWorld(vec(Sin,-Cos,Cos)))
holoPos(711,E:toWorld(vec(-Sin,-Cos,Cos)))
holoPos(811,E:toWorld(vec(-Sin,Cos,Cos)))
holoPos(1311,E:toWorld(vec(0,Cos,Cos)))
holoPos(1411,E:toWorld(vec(0,Cos,-Cos)))
holoPos(1511,E:toWorld(vec(0,-Cos,-Cos)))
holoPos(1611,E:toWorld(vec(0,-Cos,Cos)))
holoPos(1111,E:toWorld(vec(Cos,Cos,0)))
holoPos(1211,E:toWorld(vec(-Cos,Cos,0)))
holoPos(1711,E:toWorld(vec(-Cos,-Cos,0)))
holoPos(1811,E:toWorld(vec(Cos,-Cos,0)))
holoPos(1711,E:toWorld(vec(-Cos,-Cos,0)))
holoPos(1811,E:toWorld(vec(Cos,-Sin,0)))
holoPos(1911,E:toWorld(vec(-Cos,0,-Sin)))
holoPos(2011,E:toWorld(vec(Cos,0,Sin)))
holoPos(2111,E:toWorld(vec(Cos,0,-Sin)))
holoPos(2211,E:toWorld(vec(-Cos,0,Sin)))

holoPos(1112,E:toWorld(vec(-Sin,Sin,-Cos)))
holoPos(2112,E:toWorld(vec(Sin,Sin,Cos)))
holoPos(3112,E:toWorld(vec(Sin,-Sin,-Cos)))
holoPos(4112,E:toWorld(vec(Sin,Sin,-Cos)))
holoPos(5112,E:toWorld(vec(-Sin,-Sin,-Cos)))
holoPos(6112,E:toWorld(vec(Sin,-Sin,Cos)))
holoPos(7112,E:toWorld(vec(-Sin,-Sin,Cos)))
holoPos(8112,E:toWorld(vec(-Sin,Sin,Cos)))
holoPos(13112,E:toWorld(vec(0,Sin,Sin)))
holoPos(14112,E:toWorld(vec(0,Sin,-Sin)))
holoPos(15112,E:toWorld(vec(0,-Sin,-Sin)))
holoPos(16112,E:toWorld(vec(0,-Sin,Sin)))
holoPos(11112,E:toWorld(vec(Sin,Sin,0)))
holoPos(12112,E:toWorld(vec(-Sin,Sin,0)))
holoPos(17112,E:toWorld(vec(-Sin,-Sin,0)))
holoPos(18112,E:toWorld(vec(Sin,-Sin,0)))
holoPos(17112,E:toWorld(vec(-Sin,-Sin,0)))

holoPos(18112,E:toWorld(vec(Cos,Cos,Cos)))
holoPos(19112,E:toWorld(vec(-Cos,Cos,Cos)))
holoPos(20112,E:toWorld(vec(Cos,-Cos,Cos)))
holoPos(21112,E:toWorld(vec(Cos,Cos,-Cos)))
holoPos(22112,E:toWorld(vec(-Cos,-Cos,-Cos)))
holoPos(23,E:toWorld(vec(-Cos,-Cos,Cos)))
holoPos(24,E:toWorld(vec(Cos,-Cos,-Cos)))
holoPos(25,E:toWorld(vec(-Cos,Cos,-Cos)))
holoPos(26,E:toWorld(vec(Sin,Sin,Sin)))
holoPos(27,E:toWorld(vec(-Sin,Sin,Sin)))
holoPos(28,E:toWorld(vec(Sin,-Sin,Sin)))
holoPos(29,E:toWorld(vec(Sin,Sin,-Sin)))
holoPos(30,E:toWorld(vec(-Sin,-Sin,-Sin)))
holoPos(31,E:toWorld(vec(-Sin,-Sin,Sin)))
holoPos(32,E:toWorld(vec(Sin,-Sin,-Sin)))
holoPos(33,E:toWorld(vec(-Sin,Sin,-Sin)))
